configuration {
	modi: "combi";
    combi-modi: "run,drun,window,ssh";
	show-icons: true;
    display-drun:               "";
    display-ssh:                "";
    display-window:             "";
    display-combi:              "";
    hide-scrollbar: true;
	fake-transparency: true;
    run-shell-command: "st -e {cmd}";
	theme: "~/.cache/wal/colors-rofi-dark.rasi";
}

/* vim:ft=css
